# Detta är bara ett exempel. Du väljer själv vilka filer du vill ignorera
# Ignorera följande kataloger
# Ignorera följande filer
.idea/
secrets.txt
w/
target/
playdate.iml
MavenBuild.properties
project/
.DS_Store