@echo off
@echo Setting enviroment variables

SETX PLAYDATE_DB_HOST
SETX PLAYDATE_DB_USER
SETX PLAYDATE_DB_PASS

SETX PLAYDATE_FB_SALT
SETX PLAYDATE_FB_APP_ID
SETX PLAYDATE_FB_SECRET
SETX PLAYDATE_CALLBACK


SETX PLAYDATE_STOCKHOLM_KEY
SETX PLAYDATE_GOOGLE_MAPS_KEY

SETX PLAYDATE_USE_SSL
SETX PLAYDATE_SERVER_PORT
SETX PLAYDATE_KEYSTORE_PASS