#replace aaaa1111 with dsv database name
#dbName=jdbc:mysql://mysql.dsv.su.se/?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC&amp;useSSL=false
#dbUserName=
#dbPassword=
#För att google maps api ska fungera så måste ni skaffa en google maps api nyckel och klistra in nedan (och ta bort #)
#googlemapsAPIKey=
#fbAppToken=
#fbSalt=
#fbAppId=
#fbSecret=
#stockholmAPIKEY=