#* @vtlvariable name="playdates" type="java.util.Collection" *#
#* @vtlvariable name="playdate" type="model.Playdate" *#

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    #parse("/admin/admin-head.vm")

    <script>
        $(document).ready(function () {
            $('.remove-playdate-link').click(function (e) {
                e.preventDefault();

                var row = $(this).closest('tr');
                $.ajax({
                    type: 'DELETE',
                    url: '/protected/admin/removeplaydate?playdateId=' + $(this).data('playdateid'),
                    success: function (res) {
                        row.remove();
                    },
                    error: function (res) {
                        alert('unable to remove playdate');
                    }
                });
            });
        });
    </script>


</head>
<body>


<div id="content">


    #parse("/admin/navbar.vm")

    <div class="row">
        <div class="col-md-2"> </div>
        <div class="col-md-8">
            <h1>Content</h1>
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Rubrik</th>
                    <th>Beskrivning</th>
                    <th>PlatsId</th>
                    <th>PlatsNamn</th>
                    <th>Starttid</th>
                    <th>Ta bort</th>
                </tr>
                </thead>
                <tbody>
                #foreach($playdate in $playdates)
                    <tr>
                        <td>$playdate.id</td>
                        <td>$playdate.header</td>
                        <td>$playdate.description</td>
                        <td>$playdate.place.id</td>
                        <td>$playdate.place.name</td>
                        <td><script>document.write(new Date($playdate.startTime))</script></td>
                        <td><a href="#" data-playdateid="$playdate.id" class="remove-playdate-link">Ta bort playdate</a></td>
                    </tr>
                #end
                </tbody>
            </table>
        </div>
        <div class="col-md-2"> </div>
    </div>

</div>


</body>
</html>