<div class="row">
    <div class="col-md-2"> </div>
    <div class="col-md-8">
        <div class="page-header">
            <h1>Adminpanel</h1>
        </div>
    </div>
    <div class="col-md-2"> </div>
</div>

<div class="row">
    <div class="col-md-2"> </div>
    <div class="col-md-8">
        <a class="btn btn-default" href="/protected/admin/index" role="button">Dashboard</a>
        <a class="btn btn-default" href="/protected/admin/place" role="button">Platser</a>
        <a class="btn btn-default" href="/protected/admin/sthlm" role="button">StockholmAPI</a>
        <a class="btn btn-default" href="/protected/admin/users" role="button">Användare</a>
        <a class="btn btn-default" href="/protected/admin/reports" role="button">Rapporter</a>
        <a class="btn btn-default" href="/protected/admin/comments" role="button">Kommentarer</a>
        <a class="btn btn-default" href="/protected/admin/playdates" role="button">Playdates</a>
    </div>
    <div class="col-md-2"> </div>
</div>