#* @vtlvariable name="Utils" type="utils.Utils" *#
#* @vtlvariable name="playdate" type="model.Playdate" *#


<!DOCTYPE html>
<html>
<head>
    <title>Playdate</title>

    #parse("head-links.vm")

    <link rel="stylesheet" type="text/css" href="/css/jtsage-datebox.css">
    <script src="/js/createplaydate.js"></script>
    <script src="/js/jtsage-datebox.js"></script>
    <script>

        $(document).ready(function () {
            #if($playdate)
                console.log("edit playdatemode");
                $('#create-playdate-form').attr('action', '/protected/updateplaydate');
                $('#playdateId').val("${playdate.id}");
                $('#header-field').val("${Utils.unEscapeHTML($playdate.header)}");
                $('#description-field').val("${Utils.unEscapeHTML(${playdate.description})}");
                $('#visibility-type').val("${playdate.playdateVisibilityType.nr}").change();
                console.log("place id = " + "${playdate.getPlace().getId()}");
                $('#placeId').val("${playdate.getPlace().getId()}");
                $('#show-place-placeholder').html(
                        "<p class='name-with-button'>" + "${playdate.getPlace().name}" +"</p>" +
                        "<a href='/protected/showplace?placeId=" + "${playdate.getPlace().getId()}" +"'>Visa</a>"
                );
                var startTimeDate = new Date(${playdate.startTime})
                var year = startTimeDate.getFullYear();
                var month = startTimeDate.getMonth();
                var day = startTimeDate.getDate();
                var time = "" + startTimeDate.getHours() + ":" + startTimeDate.getMinutes();
                var dateBoxDate = new Date(year, month, day);
                $('#datepicker-field').datebox('setTheDate', dateBoxDate);
                $('#timepicker-field').datebox('setTheDate', time);
            #end
        });

    </script>


</head>
<body>


    #parse("side-panel.vm")

    #parse("header.vm")

    #parse("footer.vm")




<div data-role="page" id="pageone">




    <div data-role="main" class="ui-content">
        <form id="create-playdate-form" method="POST" action="/protected/createplaydate" data-ajax="false">
            <input type="hidden" value="-1" name="playdateId" id="playdateId">
            <label for="header-field">
                Rubrik:
            </label>
            <input type="text" name="header" id="header-field">
            <div data-role="ui-field-contain">
                <label for="description-field">
                    Beskrivning:
                </label>
                <textarea name="description" id="description-field" cols="40" rows="8"></textarea>
            </div>
            <div data-role="popup" id="popupBasic">
                <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>

                <div data-role="main" class="ui-content">
                    <table class="place-info-table">
                        <tr>
                            <td>Privat:</td>
                            <td>Bjud in dina vänner att delta i Playdaten</td>
                        </tr>
                        <tr>
                            <td>Öppen för vänner:</td>
                            <td>Playdaten blir synlig för alla dina vänner</td>
                        </tr>
                        <tr>
                            <td>Offentlig:</td>
                            <td>Playdaten blir synlig för alla användare</td>
                        </tr>
                    </table>
                </div>
            </div>


            <div class="ui-field-contain">
                <div class="visibility-btn">
                    <label for="visibility-type">Öppenhetsnivå:
                        <a href="#popupBasic" data-rel="popup" style="margin-left: 7.2em;margin-top: -1.3em; id=" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-inline ui-icon-info ui-btn-icon-notext" data-transition="pop">info</a>
                    </label>
                </div>
                <select name="visibilityId" id="visibility-type">
                    <option value="0">Offentlig</option>
                    <option value="1">Öppen för vänner</option>
                    <option value="2">Privat</option>
                </select>
            </div>
            <label>Datum och tid</label>
            <input type="hidden" name="startTime" id="startTime" value="0">
            <div class="date-row">
                <div class="date-column">
                    <input type="text" id="datepicker-field" data-role="datebox" data-options='{"mode":"flipbox", "afterToday": true}'>
                </div>
                <div class="date-column">
                    <input type="text" id="timepicker-field" data-role="datebox" data-options='{"mode":"timebox"}'>
                </div>
            </div>
            <div>

                <label for="place-input-field">Sök plats:</label>

                <input type="search" name="place-input-field" id="place-input-field" data-ajax="false">
                <ul id="search-suggestions" data-role="listview" data-inset="true"  data-input="#place-input-field">
                </ul>
                <a href="#choose-place" class="ui-btn ui-icon-arrow-r ui-btn-icon-right">Hitta platser nära mig</a>
            </div>
            <input type="hidden" name="placeId" id="placeId" value="-1">
            <hr>
            <div id="show-place-placeholder">
                <h2>Ingen plats vald</h2>
            </div>
            <hr>
            <div>
                <input type="submit" class="ui-btn last-button-on-page" data-ajax="false" id="create-playdate-btn"
                    #if($playdate)
                       value="Uppdatera Playdate"
                    #else
                       value="Skapa Playdate"
                    #end
                >
            </div>
        </form>
    </div>
    <div data-role="popup" id="validationPopup" data-position-to="window" data-transition="turn">
        <p></p>
    </div>

</div>

<div data-role="page" id="choose-place">

    <div data-role="main" class="ui-content">

    </div>

</div>

</body>
</html>