#* @vtlvariable name="user" type="model.User" *#
<html>

<head>
    <title>Redigera profil</title>
    #parse("head-links.vm")
    <link rel="stylesheet" type="text/css" href="/css/croppie.css">
    <script src="/js/croppie.js"></script>
    <script src="/js/edituser.js"></script>
    <script>
        window.genderid = $user.gender.id
    </script>
    <script>
        $(document).ready(function{
           $('#avreg-popup').enhanceWithin().popup()
        });
        var avregpopup = function () {
            $.mobile.changePage('#avreg-popup')
        }
    </script>
</head>

<body>

    #parse("side-panel.vm")

    #parse("header.vm")

    #parse("footer.vm")

<div data-role="page" id="pageone">

    <div data-role="main" class="ui-content">
        <a href="#popup-remove-user" data-rel="popup" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-notext ui-btn-icon-inline ui-icon-gear" style="float:right;" data-transition="pop">avreg</a>
        <h2>$!{user.name}</h2>
        <div class="ui-grid-a profile-page">
            <div class="ui-block-a">
                <div id="composite-picture">
                    <a href="#" data-rel="popup" class="ui-btn ui-corner-all ui-icon-edit ui-btn-icon-notext ui-overlay-shadow" id="edit-profile-picture" data-ajax="false">Edit Icon</a>
                    <img src="$!{user.profilePictureUrl}" class="profile-picture profile-picture-upload" style="width: 9em">

                </div>
            </div>
            <form action="/protected/editmyprofile" method="POST" id="update-profile-form">
                <div class="ui-block-b">
                    <br>
                    <label for="phoneinput">Telefonnummer:</label>
                    <input type="text" name="phoneinput" id="phoneinput" value="$!{user.phoneNumber}">

                    <label for="genderselect" class="select" style="display: inline; margin-right: 1em">Kön:</label>
                    <select name="genderselect" id="genderselect" data-inline="true">
                                        <option value="0">Man</option>
                                        <option value="1">Kvinna</option>
                                        <option value="2">Annat</option>
                    </select>

                <label for="descriptiontextarea">Beskrivning:</label>
        </div>
                <textarea cols="40" name="description" rows="20" id="descriptiontextarea" data-autogrow="false">$!{user.description}</textarea>
            </form>

        </div>
        <div class="on-bottom-button">
            <a class="ui-btn ui-shadow ui-corner-all" id="update-profile-btn" data-ajax="false">Uppdatera Profil</a>
        </div>

    </div>
    <div data-role="popup" id="popup" data-dismissible="false">
        <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
        <div data-role="header">
            <h1>Ny Profilbild</h1>
        </div>
        <div data-role="main" class="ui-content">
            <div id="dialog-changable-content">
                <div id="croppie"></div>
                <div id="upload-div">
                    <p>Välj ny profilbild. Max 360x360 pixlar</p>
                    <form>
                        <input type="file" name="picture" id="picturefile">
                    </form>
                </div>
            </div>
            <a href="#" class="ui-btn" id="upload-picture">Ladda upp bild</a>
        </div>
    </div>

    <div data-role="popup" id="validationPopup" data-position-to="window" data-transition="turn">
        <p></p>
    </div>

    <div data-role="popup" id="popup-remove-user">
        <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
        <div class="remove-user">
            <a href="#avreg-popup" class="ui-btn ui-shadow ui-corner-all" id="remove-profile-btn" style="background: #ff4304 !important; color:white !important;" >Avregistera mig</a>
        </div>
    </div>

</div>

#*utanför page*#
<div data-role="page" id="avreg-popup">
    <div data-role="header" style="font-size: 10px !important;">
        <h4>Avregistrera användare</h4>
    </div>
    <div data-role="main" class="ui-content">
        <form>
            <p>Genom att ta bort min profil försvinner alla mina ändringar.</p>
            <input name="checkbox-mini-0" id="checkbox-mini-0" data-mini="true" type="checkbox">
            <label for="checkbox-mini-0">Jag godkänner</label>
        </form>
        <a href="#" class="ui-btn ui-corner-all ui-shadow" id="remove-user">Avregistera konto</a>
    </div>

</div>
</body>

</html>
