#* @vtlvariable name="user" type="model.User" *#
<html>

<head>
    <title>Redigera profil</title>
    #parse("head-links.vm")
    <link rel="stylesheet" type="text/css" href="/css/croppie.css">
    <script src="/js/croppie.js"></script>
    <script>
        $(document).ready(function() {
            $('#edit-profile-picture').click(function() {
                $('#popup').popup("open");
            })

            $('#genderselect').val(${user.gender.id}).change();

            $('#picturefile').change(function(e) {
                var file = e.target.files[0];
                if (file.type.match('image.*')) {
                    var reader = new FileReader();
                    reader.onload = (function(image) {
                        return function(e) {
                            var i = e.target.result;
                            console.log('init croppie')
                            window.croppie = $('#croppie').croppie({
                                viewport: {
                                    width: 260,
                                    height: 260
                                },
                                boundary: {
                                    width: 300,
                                    height: 300
                                },
                                url: i
                            });
                            console.log('loaded url')
                            $('#upload-div').hide()

                        };
                    })(file);

                    reader.readAsDataURL(file);

                }
            })


            $('#upload-picture').click(function() {
                var picture = window.croppie.croppie('result',
                        {type: 'blob',format: 'png', size: 'viewport'})
                        .then(function(res) {
                            sendImage(res)
                        });
            });

            var sendImage = function(image){
                var form = new FormData();
                form.append('profile_picture_file', image)
                $.ajax({
                    type: 'POST',
                    url: '/protected/postnewprofilepicture',
                    data: form,
                    cache: false,
                    contentType: false,
                    processData: false
                }).done(function(data){
                    console.log(data)
                    $('.profile-picture-upload').attr('src', data);
                    $('#popup').popup('close');
                })
            }

            $('#update-profile-btn').one('click',function(e) {
                e.preventDefault();
                $('#update-profile-form').submit();
            })
        });


    </script>
</head>

<body>

    #parse("side-panel.vm")

    #parse("header.vm")

    #parse("footer.vm")

<div data-role="page" id="pageone">




    <div data-role="main" class="ui-content">
        <h2>$!{user.name}</h2>
        <div class="ui-grid-a profile-page">
            <div class="ui-block-a">
                <div id="composite-picture">
                    <a href="#" data-rel="popup" class="ui-btn ui-corner-all ui-icon-edit ui-btn-icon-notext ui-overlay-shadow" id="edit-profile-picture" data-ajax="false">Edit Icon</a>
                    <img src="$!{user.profilePictureUrl}" class="profile-picture profile-picture-upload" style="width: 9em">
                </div>
            </div>
            <form action="/protected/editmyprofile" method="POST" id="update-profile-form">
                <div class="ui-block-b">

                    <label for="phoneinput">Telefonnummer:</label>
                    <input type="text" name="phoneinput" id="phoneinput" value="$!{user.phoneNumber}">

                    <label for="genderselect" class="select" style="display: inline; margin-right: 1em">Kön:</label>
                    <select name="genderselect" id="genderselect" data-inline="true">
                                        <option value="0">Man</option>
                                        <option value="1">Kvinna</option>
                                        <option value="2">Annat</option>
                    </select>
                </div>
                <h2>Beskrivning:</h2>
                <textarea cols="40" name="description" rows="20" id="descriptiontextarea" data-autogrow="false">$!{user.description}</textarea>
            </form>
        </div>
        <div class="on-bottom-button">
            <a class="ui-btn" id="update-profile-btn" data-ajax="false">Uppdatera Profil</a>
        </div>
    </div>
    <div data-role="popup" id="popup" data-dismissible="false">
        <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
        <div data-role="header">
            <h1>Ny Profilbild</h1>
        </div>
        <div data-role="main" class="ui-content">
            <div id="dialog-changable-content">
                <div id="croppie"></div>
                <div id="upload-div">
                    <p>Välj ny profilbild. Max 360x360 pixlar</p>
                    <form>
                        <input type="file" name="picture" id="picturefile">
                    </form>
                </div>
            </div>
        </div>
        <div data-role="footer">
            <a href="#" class="ui-btn" id="upload-picture">Ladda upp bild</a>
        </div>
    </div>
</div>


</body>

</html>
