<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
    <title>Playdate</title>

    #parse("head-links.vm")

    <script>

        $(document).ready(function () {
            window.userpos;

            window.getLocation = function() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(p){
                        console.log("got position running get data");
                        window.userpos = p;
                        getData(p);
                    });
                } else {
                    console.log("no navigator")
                }
            }

            window.getLocation();

            var outputDiv = $('#output');
            Object.prototype.hasOwnProperty = function(property) {
                return this[property] !== undefined;
            };

            window.offset = 0;
            var pendingAjax = false;



            var getData = function (p) {
                pendingAjax = true;
                console.log("getdata function");
                $.getJSON('/protected/getfeed?locX=' + p.coords.latitude + '&locY=' + p.coords.longitude)
                        .done(function (data) {
                    console.log(data.collection);
                    window.offset = parseInt(data.paginationOffset) + 10 ;
                    pendingAjax = false;
                    $.each(data.collection, function (index, feed) {
                        console.log(feed);
                        renderFeedObject(feed)
                    });
                });
            };

            var renderFeedObject = function (feed) {
                var outputStr = "<h3 class='ui-bar ui-bar-a ui-corner-all'>" + feed.header + "</h3>";
                outputStr += '<div class="ui-body"><div>';
                outputStr += '<img height="200" src="/protected' + feed.imageUrl + '">';
                outputStr += '<p>Beskrivning:' + feed.shortDescription;
                outputStr += '</div><p>';
                outputStr += "</div>";
                outputDiv.append(outputStr);
                console.log(outputStr)

            };

            /*
            $(window).scroll(function () {
                var atHeight = ($(window).scrollTop() + $(window).height());
                var totalHeight = $(document).height() -50;
                var bo = (atHeight > totalHeight);
                if (bo && !pendingAjax) {
                    getData();
                }
            });
*/
            //getData()


        });

    </script>

</head>
<body>


#parse("side-panel.vm")

#parse("header.vm")

#parse("footer.vm")

<div data-role="page" id="pageone">
 

  <div data-role="main" class="ui-content">
      <div id="output">

      </div>
  </div>

  
</div> 

</body>
</html>