<!DOCTYPE html>
<html>
<head>
    <title>Playdate</title>

    #parse("head-links.vm")

    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>

</head>
<body>


    #parse("side-panel.vm")

    #parse("header.vm")

    #parse("footer.vm")

<div data-role="page" id="pageone">


    <div data-role="main" class="ui-content">
        <h3>Hitta platser</h3>
        <div id="map" data-position="fixed"> </div>
        <script>
            function initMap() {
                var uluru = {lat: 59.299258865101194, lng: 18.044908470153807};
                window.map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 12,
                    center: uluru
                });
            }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=$!{mapsapikey}&callback=initMap">
        </script>
        <div>
            <h3>Platser:</h3>
            <div data-role="collapsible">
                <h4>test</h4>
                <p>test</p>
            </div>
            <div data-role="collapsible">
                <h4>test</h4>
                <p>test</p>
            </div>
            <div data-role="collapsible">
                <h4>test</h4>
                <p>test</p>
            </div>
            <div data-role="collapsible">
                <h4>test</h4>
                <p>test</p>
            </div>
            <div data-role="collapsible">
                <h4>test</h4>
                <p>test</p>
            </div>
        </div>


</div>

</body>
</html>