<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/favicon.ico" />

    <title>Playdate!</title>
    <link rel="stylesheet" href="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">

    <script src="//code.jquery.com/jquery-2.1.4.js" integrity="sha256-siFczlgw4jULnUICcdm9gjQPZkw/YPDqhQ9+nAOScE4=" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery.mobile.flatui.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/colors.css">

    <link rel="stylesheet" href="/css/bubbles.css" />
    <style>
        body {
            overflow: hidden;
            overflow-y: hidden;
        }
        ::-webkit-scrollbar {
            display: none;
        }
    </style>
    <script>
        $(document).ready(function() {
            $('#fb-login').one('click', function(e) {
                $('#form').submit();
            })

        })
    </script>


</head>

<body>
<div data-role="page" id="pageone" style="background: #d7f7b9">
    <div data-role="main" class="ui-content" style="background: #d7f7b9">
    <ul class="bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>



        <div id="logo-container" style="position: relative; z-index: 100000000">
            <img src="/images/pd-logga.png" id="index-logo" >
            <form action="/loginfb" id="form" data-ajax="false">
                <button id="fb-login-btn" text-align="center" >Logga in med Facebook</button>
            </form>

            <div id="privacy-policy">
            <p>När du loggar in godkänner du <br>Playdates <a href="/privacypolicy.html" data-ajax="false">vilkor</a></p>
            </div>

        </div>
        <br>

        <div id="kid-container">
            <img src="/images/barnen.png" id="kids-index">
        </div>
        <a href="#popupInfo" id="index-popup-btn" data-rel="popup" style="float:right;" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-info" data-transition="slideup"> Information</a>
        <div data-role="popup" id="popupInfo">
            <div data-role="main" class="ui-content">
                <form id="text">
                    <label for="text"><h1>Välkommen till Playdate!</h1></label>
                    <br>
                    <a href="#" data-rel="back" style= "margin-right:2em; margin-top:2em;" class="ui-btn ui-corner-all ui-shadow ui-btn ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
                    <div id="text-popup"
                    <p> Playdate är en social plattform som gör det enkelt för dig som förälder att träffa nya familjevänner tillsammans med dina barn. </p>
                    <p>Playdate gör det möjligt för dig som förälder att skapa eller delta i evenemang, Playdates.
                        Playdates kan skapas som offentliga, privata eller offentliga för alla dina vänner.
                        Offentliga Playdates är ett bra tillfälle att finna nya vänner för både dig och dina barn medans privata Playdates kan arrangeras med personer från din vänlista som du vill knyta tätare vänskapsband med.</p>
                    <p>För att komma igång och delta i din första Playdate kan du logga in och se över din profil för att sedan sätta igång och leta upp en Playdate som du tror skulle vara perfekt för dig och din familj!</p>
                    <p>Lycka till!</p>
            </div>
            </form>
            </div>
        </div>
    </div>
</body>

</html>
