#* @vtlvariable name="user" type="model.User" *#
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>landingpage</title>
</head>
<body>
<h1>Välkommen</h1>
<div>
    <h3>info</h3>
    <img src="$user.profilePictureUrl">
    <p>$user.getName()</p>
    <p>$user.gender</p>
    <p>$user.getEmail()</p>
    <p>$user.getPhoneNumber()</p>
    <h4>fb</h4>
    <p>$user.id</p>
    <p>$user.fbToken</p>
    <p>$user.facebookThirdPartyID</p>
    <h1>Image</h1>
    <form method='post' enctype='multipart/form-data' action="/protected/postnewprofilepicture">
        <input type='file' name='profile_picture_file'>
        <button>Upload picture</button>"
    </form>
</div>
</body>
</html>