<!DOCTYPE html>
<html>
<head>
    <title>Playdate</title>

    #parse("head-links.vm")

    <script src="/js/eventpage.js"></script>

</head>
<body>


    #parse("side-panel.vm")

    #parse("header.vm")

    #parse("footer.vm")

<div data-role="page" id="pageone">




    <div data-role="main" class="ui-content">

        <h3>Kommande playdates</h3>
        <div id="upcomming-playdates-output"></div>
        <hr>

        <h3>Playdates jag kan gå med i</h3>
        <div id="suggested-playdates-output"></div>
        <hr>


        <h3>Playdates i närheten</h3>
        <div id="public-playdates-output"></div>
        <hr>

    </div>


</div>

</body>
</html>