#* @vtlvariable name="p" type="model.Playdate" *#
#* @vtlvariable name="p2" type="model.Playdate" *#
#* @vtlvariable name="playdatesAttending" type="java.util.Collection" *#
#* @vtlvariable name="playdatesOwner" type="java.util.Collection" *#

<!DOCTYPE html>
<html>
<head>
    <title>Playdate</title>

    #parse("head-links.vm")

    <script>
        $(document).ready(function () {

            $('.remove-playdate-link').click(function (e) {
                e.preventDefault();
                var playdateid = $(this).data('playdateid');
                var div = $(this).closest('.removeable-playdate-parent');
                console.log("trying to delete playdate with id = " + playdateid);
                $.ajax('/protected/deleteplaydate?playdateId=' + playdateid, {
                    type: 'DELETE',
                    success: function(res){
                        window.location.replace("/protected/showplaydates");
                        console.log("success remove playdate");
                        console.log(res)
                        div.remove();
                    },
                    error: function(res){
                        console.log("failed to remove playdate")
                        console.log(res)
                    }
                })

            });

        });
    </script>

</head>
<body>


    #parse("side-panel.vm")

    #parse("header.vm")

    #parse("footer.vm")

<div data-role="page" id="pageone">




    <div data-role="main" class="ui-content">
        <a href="/protected/createplaydate" data-ajax="false" class="ui-btn ui-icon-plus ui-btn-icon-right">Skapa ny Playdate</a>
        <hr>
        <h2>Mina:</h2>
       ## #foreach($p in $playdatesOwner)
        ##<ul data-role="listview"  data-theme="f" data-split-icon="user"  data-filter="true" data-input="#myFilter"  data-inset="true">
          ##  <li><a data-ajax="false" href="#">$!{p.name}</a>
            ##    <a data-ajax="false" href="/protected/getoneplaydate?playdateId=$!{p.id}"></a>
           ## </li>
       ## </ul>
       ## #end

        <div data-role="collapsible" class="removeable-playdate-parent" data-theme="b" data-content-theme="b">
                <h4>$!{p.header}</h4>
                <p>
                    $!{p.description}
                    <a data-ajax="false" class="ui-btn" href="/protected/getoneplaydate?playdateId=$!{p.id}">Visa</a>
                    <a data-ajax="false" class="ui-btn edit-playdate-link" href="/protected/editplaydate?playdateId=${p.id}">Redigera</a>
                    <a data-playdateid="$!{p.id}" class="ui-btn remove-playdate-link" href="#">Ta bort</a>
                </p>

            </div>

        <hr>
        <h2>Andras:</h2>
        #foreach($p2 in $playdatesAttending)
            <div data-role="collapsible" data-theme="a" data-content-theme="b">
                <h4>$!{p2.header}</h4>
                <p>
                    $!{p2.description}
                    <a class="ui-btn" data-ajax="false" href="/protected/getoneplaydate?playdateId=$!{p2.id}">Visa</a>
                    <a class="ui-btn" data-ajax="false" href="/protected/showplaydate/$!{p2.id}">Lämna</a>
                </p>

            </div>
        #end
    </div>


</div>

</body>
</html>