<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Registrera användare</title>
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/jquery.mobile-1.4.5.js"></script>
    <script src="js/onInit.js"></script>
    <script src="js/onLogin.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet href="css/normalize.css" type="text/css">
    <link rel=stylesheet href="css/jquery.mobile-1.4.5.css" type="text/css">
    <link rel=stylesheet href="css/main.css" type="text/css">
    <link rel=stylesheet href="css/background.css" type="text/css">
</head>
<body>
<ul class="bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
<div>
<div class="container" id="login-signup-content">
    <img src="/images/pd-logga.png" id="imglogo"/>
</div>
<div id="register-panel">
    <form action="/doreg" method="post">
        <div id="text-form-input-fields">
          <input type="email" id="username" name="email" class="text-input-field centered-text" placeholder="E-postadress">
            <input type="password" id="password" name="rawPassword" class="text-input-field centered-text" placeholder="Nytt lösenord">
            <input type="password" id="upprepaLösenord" class="text-input-field centered-text" placeholder="Upprepa lösenord">
        </div>
        <div>
            <input type="submit" id="greenbtn" class="large-button centered-text" value="Registrera">
        </div>
    </form>
</div>
</div>
</body>
</html>