#* @vtlvariable name="playdates" type="java.util.Collection" *#
#* @vtlvariable name="p" type="model.Playdate" *#
#* @vtlvariable name="other-user" type="model.User" *#

<!DOCTYPE html>
<html>
<head>
    <title>Playdate</title>

    #parse("head-links.vm")


    <script>
        $(document).ready(function () {
            $('#add-friend').click(function (e) {
                e.preventDefault();

                $.post('/protected/sendfriendrequest?friendId=' + $(this).data('userid'), function(res) {
                    console.log(res);
                })
            })

            $('#remove-friend').click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'DELETE',
                    url: '/protected/removefriend?userId=' + $(this).data('userid'),
                    success: function(res) {
                        console.log("res = " + res);
                    }
                });
            });

            $('#remove-friendrequest').click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'DELETE',
                    url: '/protected/removefriendshiprequest?userId=' + $(this).data('userid'),
                    success: function(res) {
                        console.log("res = " + res);
                    }
                });
            });
            $('#accept-friendrequest').click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/protected/acceptfriendshiprequest?userId=' + $(this).data('userid'),
                    success: function(res) {
                        console.log("res = " + res);
                    }
                });
            });
            $('#decline-friendrequest').click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/protected/declinefriendshiprequest?userId=' + $(this).data('userid'),
                    success: function(res) {
                        console.log("res = " + res);
                    }
                });
            });
        });
    </script>


</head>
<body>


    #parse("side-panel.vm")

    #parse("header.vm")

    #parse("footer.vm")

<div data-role="page" id="pageone">


    <div data-role="main" class="ui-content">
        <div class="other-user-reportable">

            <h2>$!{other-user.name}</h2>
            <a href="#" style="float: right; top: -5px; right: -20px" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-alert ui-btn-icon-notext">Rapportera användare</a>
        </div>
        <div class="ui-grid-a profile-page">
            <div class="ui-block-a">
                <div id="composite-picture">
                    <img src="$!{other-user.profilePictureUrl}" class="profile-picture" style="width: 9em">
                </div>
                <a href="$!{other-user.facebookLinkUrl}">Visa Facebookprofil</a>
                <h3>Beskrivning:</h3>
                <p class="profile-description-text">
                    $!{other-user.description}
                </p>
            </div>
            <div class="ui-block-b profile-right-block">
                <p>
                    $!{other-user.phoneNumber}
                </p>
                <p>Kön: $!{other-user.gender.frontname}</p>
                #if($friendsetting == 0)
                    <a data-ajax="false" href="/protected/editmyprofile">Redigera Profil</a>
                #elseif($friendsetting == 1)
                    <a data-ajax="false" data-userid="$!other-user.id" id="remove-friend">Ta bort vän</a>
                #elseif($friendsetting == 2)
                    <a href="#" data-ajax="false" data-userid="$other-user.id" id="accept-friendrequest">Acceptera vän</a>
                    <a href="#" data-ajax="false" data-userid="$other-user.id" id="decline-friendrequest">Avböj vänförfrågan</a>
                #elseif($friendsetting == 3)
                    <a href="#" id="remove-friendrequest" data-ajax="false">Ta bort vänskapsförfrågan</a>
                #elseif($friendsetting == 4)
                    <a href="#" id="add-friend" data-userid="$other-user.id" class="ui-btn" data-mini="true">Lägg till vän</a>
                #end
                <h3>Öppna Playdates:</h3>
                #foreach($p in $playdates)
                    <div data-role="collapsible" data-mini="true">
                        <h4>$p.header</h4>
                        <p>$p.description</p>
                        <a href="/protected/getoneplaydate?playdateId=$!{p.id}">Visa</a>
                    </div>
                #end
            </div>
        </div>
    </div>
</div>

</body>
</html>