#* @vtlvariable name="place" type="model.Place" *#
<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
    <title>Playdate</title>

    #parse("head-links.vm")

</head>
<body>


    #parse("side-panel.vm")

    #parse("header.vm")

    #parse("footer.vm")

<div data-role="page" id="pageone">



    <div data-role="main" class="ui-content">
        <div class="view-place-head">
        <h2 style="display: inline;">$!{place.name}</h2>
        <a href="#popupBasic" data-rel="popup" style="float:right; top:-5px;" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-inline ui-icon-comment ui-btn-icon-notext" data-transition="pop">comment</a>
        </div>
        <img src="/protected/apiimage/$!{place.imageId}" class="medium-image">
        <p class="place-description">
            #if($place.longDescription)
                $!{place.longDescription}
            #elseif($place.shortDescription)
                $!{place.shortDescription}
            #else
                Beskrivning saknas.
            #end
        </p>

        <div data-role="popup" id="popupBasic">
            <div data-role="header">
                <h1>Lägg till kommentar</h1>
            </div>
            <div data-role="main" class="ui-content">
            <form id="comment-form">
                <label for="comment">Kommentar:</label>
                <input type="text" name="name-comment" id="comment-title">
            </form>
            </div>
            <div data-role="footer">
                <a href="#" class="ui-btn" id="post-comment">Skicka kommentar</a>
            </div>
        </div>

        <table class="place-info-table">
            <tr>
                <td>Kategori:</td>
                <td>$!{place.category}</td>
            </tr>
            <tr>
                <td>Område:</td>
                <td>$!{place.geoArea}</td>
            </tr>
                <td>Gatuadress:</td>
                <td>$!{place.streetAddress}</td>
            </tr>
        </table>
        <div class="show-place-buttons">
            <a href="#" class="ui-btn">Skapa Playdate Här</a>


            <a href="#" class="ui-btn ui-mini ui-btn-inline">Playdates här</a>


            <a href="#" class="ui-btn ui-mini ui-btn-inline">Platser i närheten</a>

        </div>
    </div>
</div>

<div data-role="page" id="playdates-here">
    <h2>Kommande playdates här</h2>
</div>



</div>

</body>
</html>