#* @vtlvariable name="place" type="model.Place" *#
<!DOCTYPE html>
<html>
<head>
    <title>Playdate</title>

    #parse("head-links.vm")

<script>


</script>

</head>
<body>


    #parse("side-panel.vm")

    #parse("header.vm")

    #parse("footer.vm")



<div data-role="page" id="pageone">

    <div data-role="main" class="ui-content">
        <div class="view-place-head">
        <h2 style="display: inline;">$!{place.name}</h2>
        </div>
        <div class="ui-grid-a place-image-btns">
            <div class="ui-block-a">
        <img src="/protected/apiimage/$!{place.imageId}" class="medium-image">
            </div>
                <div class="ui-block-b">
                    <ul id="btns-list" style="float:right;">
                        <li><a data-ajax="false" href="/protected/createplaydate?placeId=$!place.id" style="float:right; top:-5px;" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-inline ui-icon-plus ui-btn-icon-notext" data-transition="pop">skapa playdate</a></li>
                        <li><a href="#" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-inline ui-icon-location ui-btn-icon-notext">location</a></li>
                        <li><button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-inline ui-icon-star ui-btn-icon-notext">star</button></li>
                    </ul>
                </div>
        </div>
        <p class="place-description">
            #if($place.longDescription)
                $!{place.longDescription}
            #elseif($place.shortDescription)
                $!{place.shortDescription}
            #else
                Beskrivning saknas.
            #end
        </p>



        <table class="place-info-table">
            <tr>
                <td>Kategori:</td>
                <td>$!{place.category}</td>
            </tr>
            <tr>
                <td>Område:</td>
                <td>$!{place.geoArea}</td>
            </tr>
            <tr>
                <td>Gatuadress:</td>
                <td>$!{place.streetAddress}</td>
            </tr>
        </table>
        <div class="show-place-buttons">
            <a href="#" class="ui-btn">Skapa Playdate Här</a>


            <a href="#" class="ui-btn ui-mini ui-btn-inline" style="margin-left:6%;">Playdates här</a>


            <a href="#" class="ui-btn ui-mini ui-btn-inline">Platser i närheten</a>

        </div>
    </div>
</div>

<div data-role="page" id="playdates-here">
    <h2>Kommande playdates här</h2>
</div>



</div>

</body>
</html>