#* @vtlvariable name="playdate" type="model.Playdate" *#
<!DOCTYPE html>
<html>
<head>
    <title>Playdate</title>

    #parse("head-links.vm")

    <script>
        $("#post-comment").one(function(e){
            e.preventDefault();
            $("#comment-form").submit();
            $("#popupBasic").popup('close');
        });

        $(document).ready(function(){

        })
    </script>

</head>
<body>


    #parse("side-panel.vm")

    #parse("header.vm")

    #parse("footer.vm")

<div data-role="page" id="pageone">




    <div data-role="main" class="ui-content">


        <h2>$!{playdate.header}</h2>
        <p style= "margin-top: -1.5em;"> <a data-ajax="false" href="/protected/showplace?placeId=$!{playdate.place.id}"> $!{playdate.place.getName()}</a> </p>
        <p style= "margin-top: -1em;"><script>
            var playdateVisibilityType = $!{playdate.PlaydateVisibilityType.getNr()};
            var output;
                switch (playdateVisibilityType) {
                    case 0:
                         output = "Offentlig Playdate";
                         break;
                    case 1:
                         output= "Playdate för vänner";
                         break;
                    case 2:
                         output = "Privat Playdate";
                         break;
                }
            document.write(output);
        </script>
        </p>
        <p style= "margin-top: -1em;"> Skapad av <a data-ajax="false" href="/protected/showuser?userId=$!{playdate.owner.id}"> $!{playdate.owner.getName()}</a>

        <div class="ui-grid-a place-image-btns">
            <div class="ui-block-a">
                <img src="/protected/apiimage/$!{playdate.place.getImageId()}" class="medium-image">
            </div>
            <div class="ui-block-b">
                <ul id="btns-list" style="float:right;">
                    <li><a href="#popupBasic" data-rel="popup" style="float:right; top:-5px;" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-inline ui-icon-comment ui-btn-icon-notext" data-transition="pop">comment</a></li>
                    <li><a href="#" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-inline ui-icon-location ui-btn-icon-notext">location</a></li>
                    <li><button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-inline ui-icon-star ui-btn-icon-notext">star</button></li>
                </ul>
            </div>
        </div>
        <h2>Datum och tid:</h2>
        <div class="descriptionfield-showplaydate">
            <p><script>
                var timeDateFormat = new Date ($!{playdate.getStartTime()});
                var output = "Den ";
                output += timeDateFormat.getDate()+"/"+(timeDateFormat.getMonth() +1)
                        +" "+timeDateFormat.getFullYear()+" klockan "+timeDateFormat.getHours()+":";
                if (timeDateFormat.getMinutes()<10){
                    output += "0";
                }
                output += timeDateFormat.getMinutes();
                document.write(output);
            </script>
            </p>
        </div>
        <h2>Beskrivning:</h2>
        <div class="descriptionfield-showplaydate">
        <p>$!{playdate.description}</p>
        </div>
        <h2>Deltagare:</h2>
        <div class="descriptionfield-showplaydate">
        #foreach($!participant in $!playdate.participants)
            <p> <a data-ajax="false" href="/protected/showuser?userId=$!{participant.id}"> $!{participant.getName()}</a> </p>
        #end
        </div>
    </div>





    <div data-role="popup" id="popupBasic">
        <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
        <div data-role="header">
            <h1>Kommentera Playdate</h1>
        </div>
        <div data-role="main" class="ui-content">
            <form id="comment-form" action="/protected/postcommentplaydate" method="POST">
                <textarea name="comment" id="comment-title" data-autogrow="false"></textarea>
                <input type="hidden" name="playdateId" value="$!{playdate.id}">
            </form>
        </div>
        <div data-role="footer" style="text-align: center;">
            <a href="#" class="ui-btn" id="post-comment" data-ajax="false">Skicka kommentar</a>
        </div>
    </div>
</div>




</body>
</html>