#* @vtlvariable name="user" type="model.User" *#

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="../js/jquery-3.2.1.js"></script>
</head>
<script>

</script>
<body>
<h1>Showing Profile</h1>
<h3>$!{user.getName()}</h3>
<img src="../${user.getProfilePictureUrl()}" alt="bild på lekplats">
<h4>Om mig:</h4>
<p>$!{user.getDescription()}</p>
<h4>Kön:</h4>
<p>$!{user.getGender()}</p>
<h4>Telefon nummer:</h4>
<p>$!{user.getPhoneNumber()}</p>
<h4>Email:</h4>
<p>$!{user.getEmail()}</p>
</body>
</html>