#* @vtlvariable name="u" type="model.User" *#
#* @vtlvariable name="u1" type="model.User" *#
#* @vtlvariable name="friends" type="java.util.Collection" *#
#* @vtlvariable name="friendsrequest" type="java.util.Collection" *#
#* @vtlvariable name="user" type="java.util.Collection" *#
#* @vtlvariable name="getpotentialfriends" type="java.util.Collection" *#

<html>
<head>
    <title>Visa vänner</title>
    #parse("head-links.vm")

    <script src="/js/friends.js"></script>
</head>

<script>

    $(document).ready(function() {
        $('.friendship-request-popup').click(function (e) {
            e.preventDefault();

            var userid = $(this).data("userid");
            console.log("setting popup settings " + userid);

            $('#accept-friendshiprequest').attr('href', '/protected/acceptfriendshiprequest?userId=' + userid);
            $('#show-user-friendshiprequest').attr('href', '/protected/showuser?userId=' + userid);
            $('#decline-friendshiprequest').attr('href', '/protected/declinefriendshiprequest?userId=' + userid);

            $('#accept-friendshiprequest').click(function (e) {
                e.preventDefault();
                e.stopImmediatePropagation();

                $.post($(this).attr('href'),function(res) {
                    console.log(res.statusCode())
                })

            });

            $('#decline-friendshiprequest').click(function (e) {
                e.preventDefault();
                e.stopImmediatePropagation();

                $.post($(this).attr('href'),function(res) {
                    console.log(res.statusCode())
                })

            });

            $('#popup').popup("open");

        });

        $('#add-friend').click(function (e) {
            e.preventDefault();

            $.post('/protected/sendfriendrequest?friendId=' + $(this).data('userid'), function(res) {
                console.log(res);
            })

        })
    })
</script>


<body>

    #set($navbarfriends = true)

    #parse("side-panel.vm")

    #parse("header.vm")

    #parse("footer.vm")

<div data-role="page" id="show-friends" >

    <div data-role="main" class="ui-content">
        <div class="listview-borders">
            <div>
                <label for="myFilter" >Sök efter vänner</label>
                <form class="ui-filterable">
                    <input id="myFilter" data-type="search">
                </form>
                #if($friends.size() == 0)
                    <h3>Du har inga vänner :(</h3>
                #else

                    <ul data-role="listview"  data-theme="f" data-icon="user"  data-filter="true" data-input="#myFilter"  data-inset="true">
                        #foreach($u in $friends)
                            <li><a data-ajax="false" href="#"><img src="$!{u.profilePictureUrl}" class="img-size">$!{u.name}</a>
                                <a data-ajax="false" href="/protected/showuser?userId=$!{u.id}"></a>
                            </li>
                        #end
                    </ul>
                #end
            </div>
        </div>
    </div>

</div>

<div data-role="page" id="show-friend-request" >


    <div data-role="main" class="ui-content">

        <div data-role="popup" data-overlay-theme="b" id="popup" data-theme="a" data-tolerance="0,0">
            <a href="#" data-role="button" data-icon="delete" data-iconpos="notext" data-rel="back" data-theme="a" class="ui-btn-left">Close</a>
            <div class="listview-borders">
                <ul data-role="listview" data-theme="f">
                    <li data-icon="user">
                        <a href="#" data-ajax="false" id="show-user-friendshiprequest">Visa Profil</a>
                    </li>
                    <li data-icon="check">
                        <a href="#" data-ajax="false" id="accept-friendshiprequest">Acceptera</a>
                    </li>
                    <li  data-icon="delete">
                        <a href="#" data-ajax="false" id="decline-friendshiprequest">Avböj</a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="listview-borders">


            <ul data-role="listview" data-split-icon="check" data-theme="f" data-inset="true">
                #foreach($u in $friendsrequest)
                    <li><a href="#"><img src="$!{u.profilePictureUrl}" class="img-size" alt="$!{u.name}">$!{u.name}</a>
                        <a href="#" class="friendship-request-popup" data-userid="$!{u.id}" data-ajax="false" data-transition="slideup"> </a>
                    </li>
                #end
            </ul>

        </div>
    </div>

</div>

<div data-role="page" id="search-friend" >

    <div data-role="main" class="ui-content">
        <form>
            <label for="search-friends-field">Sök vän genom namn</label>
            <input type="text" id="friends-searchterm" name="search-friend-name" data-ajax="false">
        </form>
        <ul data-role="listview"  data-theme="f" data-icon="plus"  data-filter="true" data-input="#search-friends-field" data-inset="true" id="potential-friends-output">

        </ul>
    </div>

</div>

<!--
<div data-role="popup" id="addfriendpopup" data-overlay-theme="b"  data-tolerance="0,0">
    <a href="#" data-role="button" data-icon="delete" data-iconpos="notext" data-rel="back" class="ui-btn-left">Close</a>
    <div class="listview-borders">
        <ul data-role="listview" data-theme="f">
            <li data-icon="user">
                <a href="#">Visa Profil</a>
            </li>
            <li data-icon="check">
                <a href="#">Lägg Till</a>
            </li>

        </ul>
    </div>
</div>
-->


</body>

</html>