#* @vtlvariable name="place" type="model.Place" *#
<!DOCTYPE html>
<html>
<head>
    <title>Playdate</title>
    #parse("head-links.vm")
    <script src="/js/init-map.js"></script>
    <script src="/js/CoordinateHandler.js"></script>

    <style>
        #map, #popupMap-popup {
            height: 300px;
            width: 100%;
        }
    </style>
    <script>
        window.placeX = "$!place.geoX";
        window.placeY = "$!place.geoY";
    </script>

<script>
    $(document).ready(function() {
        $.getJSON('/protected/commentsofplace?placeId=$!place.id',function(res) {
            console.log(res);
            $('#show-comments').html("");
            $.each(res, function (index, comment) {
                renderComment(comment)
            });
        })

        var renderComment = function (comment){
            var output = "<div class='bottom-line'>";
            output += "<p style='font-weight: bold;'><a href='/protected/showuser?userId=" + comment.commenter.id + "'>"  + comment.commenter.name + "</a>" +
                    " "+ comment.commentDate +"</p>"
            output += "<p>" + comment.comment + "</p>"
            output += "</div>"
            $('#show-comments').append(output);
        }

        $('#makeComment').submit(function(e) {
            e.preventDefault();
            e.stopImmediatePropagation();

            $.ajax({
                type: 'POST',
                url: '/protected/postcomment',
                data: $('#makeComment').serialize(),
                success: function(res) {
                    console.log(res);
                    res = JSON.parse(res);
                    $('#comment').val("");
                    $('#show-comments').html("");
                    $.each(res,function(index, comment) {
                        renderComment(comment)
                    })
                }
            })
        });


        $.getJSON('/protected/playdatesofplace?placeId=$!place.id',function(res) {
            console.log(res);
            var ooutput = '<ul style="margin-top: 2em;" data-role="listview" data-timeFilter="true" data-input="#myFilter">'
            $.each(res, function (index, playdate) {
                var output = "<li>";
                output += "<a href='/protected/getoneplaydate?playdateId=" + playdate.id + "' data-ajax='false' data-timeFilter='true' data-input='#myFilter'>" + playdate.header + "</a>";
                output += "</li>";
                ooutput += output;
            });
            ooutput += "</ul>"
            $('#playdates-here-output').html(ooutput);
        })
    })
</script>

</head>
<body>


    #parse("side-panel.vm")

    #parse("header.vm")

    #parse("footer.vm")



<div data-role="page" id="pageone">

    <div data-role="main" class="ui-content">
        <div class="view-place-head">
        <h2 style="display: inline;">$!{place.name}</h2>
        </div>
        <div class="ui-grid-a place-image-btns">
            <div class="ui-block-a">
        <img src="/protected/apiimage/$!{place.imageId}" class="medium-image">
            </div>
                <div class="ui-block-b">
                    <ul id="btns-list" style="float:right;">
                        <li><a data-ajax="false" href="/protected/createplaydate?placeId=$!place.id" style="float:right; top:-5px;" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-inline ui-icon-plus ui-btn-icon-notext" data-transition="pop">skapa playdate</a></li>
                        <li><a href="#popupMap" data-rel="popup" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-inline ui-icon-location ui-btn-icon-notext">location</a></li>
                    </ul>
                </div>
        </div>
        <div class="show-place-buttons">

            <a href="#playdates-here" class="ui-btn ui-shadow ui-corner-all ui-mini ui-btn-inline" style="width="10%;" margin-left:6%;">Playdates här</a>

            <a href="#" class="ui-btn ui-shadow ui-corner-all ui-mini ui-btn-inline">Platser i närheten</a>

        </div>
        <p class="place-description">
            #if($place.longDescription)
                $!{place.longDescription}
            #elseif($place.shortDescription)
                $!{place.shortDescription}
            #else
                Beskrivning saknas.
            #end
        </p>



        <table class="place-info-table">
            <tr>
                <td>Kategori:</td>
                <td>$!{place.category}</td>
            </tr>
            <tr>
                <td>Område:</td>
                <td>$!{place.geoArea}</td>
            </tr>
            <tr>
                <td>Gatuadress:</td>
                <td>$!{place.streetAddress}</td>
            </tr>
        </table>
        <div id="make-comment">
            <form id="makeComment">
                <textarea id="comment" name="comment"></textarea>
                <input type="hidden" id="placeId" name="placeId" value="$!place.id">
                <input type="submit" class="ui-btn" value="Skicka kommentar">
            </form>
        </div>
        <div id="show-comments">

        </div>
    </div>

    <div data-role="popup" id="popupMap">
        <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
        <div id="map">

        </div>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=$!{mapsapikey}&callback=initPopupMap">
        </script>
    </div>

</div>

<div data-role="page" id="playdates-here">
    <div data-role="main" class="ui-content">
        <label for="myFilter" >Sök efter Playdates</label>
        <form class="ui-filterable">
            <input id="myFilter" data-type="search">
        </form>
        <div id="playdates-here-output"></div>

    </div>
</div>



</body>
</html>