#* @vtlvariable name="u" type="model.User" *#
#* @vtlvariable name="u1" type="model.User" *#
#* @vtlvariable name="friends" type="java.util.Collection" *#
#* @vtlvariable name="friendsrequest" type="java.util.Collection" *#
#* @vtlvariable name="user" type="java.util.Collection" *#
#* @vtlvariable name="getpotentialfriends" type="java.util.Collection" *#

<html>
<head>
    <title>Visa vänner</title>
    #parse("head-links.vm")

    <script src="/js/friends.js"></script>
    <script src="/js/hammer.min.js"></script>
</head>

<script>

    $(document).ready(function () {

        $('.friendship-request-ok').click(function (e) {
            e.preventDefault();

            var userid = $(this).data("userid");
            var li = $(this).closest('li')
            window.li = li;
            $.post('/protected/acceptfriendshiprequest?userId=' + userid, function (res) {
                li.remove();
            });
        });



        $('#add-friend').click(function (e) {
            e.preventDefault();

            $.post('/protected/sendfriendrequest?friendId=' + $(this).data('userid'), function (res) {
                console.log(res);
            });

        })
    })
</script>


<body>

    #set($navbarfriends = true)

    #parse("side-panel.vm")

    #parse("header.vm")

    #parse("footer.vm")

<div data-role="page" id="show-friends" >

    <div data-role="main" class="ui-content">
        <div class="listview-borders">
            <div>
                <h3>Mina vänner</h3>
                <label for="myFilter" >Sök efter vänner</label>
                <form class="ui-filterable">
                    <input id="myFilter" data-type="search">
                </form>
                #if($friends.size() == 0)
                    <h3>Du har inga vänner :(</h3>
                #else

                    <ul data-role="listview"  data-theme="f" data-icon="user"  data-timeFilter="true" data-filter="true" data-input="#myFilter"  data-inset="true">
                        #foreach($u in $friends)
                            <li><a data-ajax="false" href="/protected/showuser?userId=$!{u.id}"><img src="$!{u.profilePictureUrl}" class="img-size">$!{u.name}</a>

                            </li>
                        #end
                    </ul>
                #end
            </div>
        </div>
    </div>

</div>

<div data-role="page" id="show-friend-request" >


    <div data-role="main" class="ui-content">




        <div class="listview-borders">
            <h3>Vänförfrågningar</h3>
            <p style="font-size:80%;margin-top:0,2em"> * Avböj genom att swipea åt höger</p>
            <ul data-role="listview" data-split-icon="check" data-theme="f" data-inset="true">
                #foreach($u in $friendsrequest)
                    <li class="swipable-friend-request"><a href="/protected/showuser?userId=$!{u.id}"><img src="$!{u.profilePictureUrl}" class="img-size" alt="$!{u.name}">$!{u.name}</a>
                        <a href="#" class="friendship-request-ok" data-userid="$!{u.id}" data-ajax="false" data-transition="slideup"> </a>
                    </li>

                #end
            </ul>
            <h3>Skickade vänförfrågningar</h3>
            <ul data-role="listview" data-split-icon="delete" data-theme="f" data-inset="true" id="sent-request-output"></ul>
        </div>
    </div>

</div>

<div data-role="page" id="search-friend" >

    <div data-role="main" class="ui-content">
        <form>
            <h3>Lägg till vänner</h3>
            <label for="myFilter">Sök efter nya vänner</label>
            <input id="myFilter" data-type="search">
        </form>
        <ul data-role="listview" data-split-icon="plus"  data-inset="true" id="potential-friends-output">

        </ul>
    </div>

    <div data-role="popup" id="resPopup" data-position-to="window" data-transition="turn">
        <p></p>
    </div>

</div>



</body>

</html>