#* @vtlvariable name="playdate" type="model.Playdate" *#
<!DOCTYPE html>
<html>
<head>
    <title>Playdate</title>

    #parse("head-links.vm")

</head>
<body>


    #parse("side-panel.vm")

    #parse("header.vm")

    #parse("footer.vm")

<div data-role="page" id="pageone">




    <div data-role="main" class="ui-content">
        <h2>$!{playdate.header}</h2>
        <p>$!{playdate.description}</p>
    </div>


</div>

</body>
</html>