#* @vtlvariable name="playdates" type="java.util.Collection" *#
#* @vtlvariable name="p" type="model.Playdate" *#
#* @vtlvariable name="other-user" type="model.User" *#

<!DOCTYPE html>
<html>
<head>
    <title>Playdate</title>

    #parse("head-links.vm")


    <script src="/js/show-user.js"></script>


</head>
<body>


    #parse("side-panel.vm")

    #parse("header.vm")

    #parse("footer.vm")

<div data-role="page" id="pageone">


    <div data-role="main" class="ui-content">
        <div data-role="popup" id="popupReport">
            <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
            <div data-role="header">
                <h1>Rapportera</h1>
            </div>
            <div data-role="main" class="ui-content" id="make-report">
                <form data-ajax="false" id="makeReport" action="/protected/postreport" method="POST">
                    <textarea cols="30" rows="8" name="reportDescription" id="report" placeholder="Skriv anmälan"></textarea>
                    <input type="hidden" name="userId" value="$!other-user.id">
                    <input data-ajax="false" id="send-report" type="submit" class="ui-btn" value="Skicka">
                </form>
            </div>

        </div>
        <div class="other-user-reportable">

            <h2>$!{other-user.name}</h2>

        </div>

        <div class="ui-grid-a profile-page">
            <div class="ui-block-a">
                <div id="composite-picture">
                    <img src="$!{other-user.profilePictureUrl}" class="profile-picture" style="width: 9em">
                </div>
                <a href="$!{other-user.facebookLinkUrl}">Visa Facebookprofil</a>
                <p>Telefonnummer: $!{other-user.phoneNumber}</p>
                <p>Kön: $!{other-user.gender.frontname}</p>


            </div>


            <div class="ui-block-b profile-right-block" style="margin-top: 20%;">

                #if($friendsetting == 0)

                    <p><a data-ajax="false" href="/protected/editmyprofile">Redigera</a></p>
                #elseif($friendsetting == 1)
                    <a data-ajax="false" data-userid="$!other-user.id" id="remove-friend" class="ui-btn ui-corner-all ui-shadow remove-playdate-link" href="#popupValidate" data-rel="popup">Ta bort vän</a>
                #elseif($friendsetting == 2)
                    <a href="#" data-ajax="false" data-userid="$other-user.id" id="accept-friendrequest" class="ui-btn ui-corner-all ui-shadow">Acceptera vän</a>
                    <a href="#" data-ajax="false" data-userid="$other-user.id" id="decline-friendrequest" class="ui-btn ui-corner-all ui-shadow">Avböj vänförfrågan</a>
                #elseif($friendsetting == 3)
                    <a href="#" data-userid="$!other-user.id" id="remove-friendrequest" class="ui-btn ui-corner-all ui-shadow" style="font-size: 8px;" data-ajax="false">Ta bort vänskapsförfrågan</a>
                #elseif($friendsetting == 4)
                    <a href="#" id="add-friend" data-userid="$other-user.id" class="ui-btn ui-corner-all ui-shadow">Lägg till vän</a>
                #end

                <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right">
                    <h4>Playdates</h4>
                    #if($playdates.size() == 0)
                        <p>Den här användaren har inga öppna playdates</p>
                    #else
                        #foreach($p in $playdates)

                            <a data-ajax="false" href="/protected/getoneplaydate?playdateId=$!{p.id}">$p.header</a></br>
                        #end
                    #end
                </div>

            </div>
            <h3>Beskrivning:</h3>
            <p class="profile-description-text">
                $!{other-user.description}
            </p>
            #if(!$other-user.equals($user))
                <a href="#popupReport" id="rapportera-användare" data-rel="popup" data-transition="slideup">Rapportera användare</a>
            #end
        </div>
    </div>


</div>

</body>
</html>