#* @vtlvariable name="playdate" type="model.Playdate" *#
#* @vtlvariable name="place" type="model.Place" *#

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Playdate</title>
    <script src="../js/jquery-3.2.1.js"></script>
    <link rel=stylesheet href="/css/platsButton.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel=stylesheet href="css/normalize.css" type="text/css">
    <link rel=stylesheet href="css/jquery.mobile-1.4.5.css" type="text/css">
    <link rel=stylesheet href="css/buttons.css" type="text/css">
    <link rel=stylesheet href="css/fields.css" type="text/css">
    <link rel=stylesheet href="css/background.css" type="text/css">
    <link rel=stylesheet href="css/main.css" type="text/css">
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/jquery.mobile-1.4.5.js"></script>
    <script src="js/onInit.js"></script>
    <script src="js/onLogin.js"></script>
    <link rel=stylesheet href="css/responsive.css" media="screen and (max-width:900px)">


    <style>
        .boxes{
            width:80%;
            float:left;
        }
        #platsBild{
            width:70%;
            margin:auto;
        }
        img{
            max-width:100%;
        }
    </style>
    <style type="text/css">
        textarea { border: none; }
    </style>

</head>
<script>
</script>
<body>

<div class="container" id="login-signup-content">
    <img src="/images/pd-logga.png" id="imglogo" />
</div>

<div id="platsBild">
    <img id="plats" img src="../${playdate.getPlace().getImageUrl()}" alt="bild på lekplats" >
    <input type="image" src="/images/pd-logga.png" alt="Submit Form"  height="15%"/>
</div>

<div id="textbox">
    <h4>Beskrivning:
    </h4>
    <p>$!{playdate.getDescription()}</p>
    <a href="/protected/getoneplace?placeId=$!{playdate.getPlace().getId()}">följ med hit</a>
</div>

<div id="komment">
<h4>Kommentarer:
</h4>
<textarea>Kommentarer:
</textarea>
</div>
<div id="Lägg till kommentar">
    <br>
    <input type="submit" id="läggtill-btn" value="Lägg till kommentar" class="small-button centered-text">
</div>

<div id="tillbaka">
    <br>
    <input type="submit" id="tillbaka-btn" value="Tillbaka" class="small-button centered-text">
</div>
</body>
</html>