#* @vtlvariable name="user" type="model.User" *#

<div data-role="panel" data-theme="a" id="side-panel" data-display="overlay" data-position-fixed="true">
    <div class="close-btn-pos header-shadow">
        <h2>Meny</h2>
        <a href="#" class="ui-btn ui-icon-delete ui-btn-icon-notext
			ui-corner-all" data-rel="close"></a>
    </div>
    <div id="inner-panel">
        <div class="small-profile">
            <span>$!{user.name}</span>
            <div class="composite-row">
                <img src="$!{user.profilePictureUrl}" class="profile-picture-upload">
                <span>$!{user.description}
                </span>
            </div>
        </div>

        <div class="panel-buttons">
            <a href="/protected/createplaydate" class="ui-btn ui-corner-all" data-ajax="false">Skapa Playdate</a>
            <a href="/protected/editmyprofile" data-ajax="false" class="ui-btn ui-corner-all">Min Profil</a>
            <a href="/protected/showplaydates" data-ajax="false" class="ui-btn ui-corner-all">Mina Playdates</a>
            <a href="/protected/showmyfriends" class="ui-btn ui-corner-all"  data-ajax="false">Mina Vänner</a>
            <a href="/protected/findplaces" class="ui-btn ui-corner-all" data-ajax="false">Hitta Platser</a>
            <a href="/logout" data-ajax="false" class="ui-btn ui-corner-all ui-icon-logout" data-ajax="false">Logga Ut</a>

        </div>
    </div>

</div>