
.bubbles{
    position: absolute;
    top: 0;
    left:0;
    width: 90%;
    height: 100%;
    z-index: 0;
    transform: translateZ(0);
}

.bubbles li{
    position: absolute;
    list-style: none;
    display: block;
    background-color: rgba(255,255,255,0.4);
    bottom: -100px;
    animation: bubble 100s infinite;
    transition-timing-function: linear;
}
.bubbles li:nth-child(1){
    width: 40px;
    height: 40px;
    left: 20%;
}
.bubbles li:nth-child(2){
    width: 60px;
    height: 60px;
    left: 40%;
    animation-delay: 2s;
    animation-duration: 17s;
}
.bubbles li:nth-child(3){
    width: 10px;
    height: 10px;
    left: 60%;
    animation-delay: 4s;
    animation-duration: 13s;
}
.bubbles li:nth-child(4){
    width: 80px;
    height:80px;
    left: 80%;
    animation-delay: 1s;
    animation-duration: 22s;
}
.bubbles li:nth-child(5){
    width: 50px;
    height: 50px;
    left: 50%;
    animation-delay: 7s;
    animation-duration: 12s;
}
.bubbles li:nth-child(6){
    width: 70px;
    height: 70px;
    left: 40%;
    animation-delay: 6s;
    animation-duration: 10s;
}.bubbles li:nth-child(7){
    width: 40px;
    height: 40px;
    left: 20%;
    animation-delay: 2s;
    animation-duration: 17s;
}.bubbles li:nth-child(8){
    width: 50px;
    height: 50px;
    left: 50%;
    animation-delay: 7s;
    animation-duration: 12s;
}.bubbles li:nth-child(9){
    width: 50px;
    height: 50px;
    left: 50%;
    animation-delay: 7s;
    animation-duration: 12s;
}.bubbles li:nth-child(10){
    width: 50px;
    height: 50px;
    left: 45%;
    animation-delay: 8s;
    animation-duration: 9s;
}.bubbles li:nth-child(11){
    width: 35px;
    height: 35px;
    left: 20%;
    animation-delay: 6s;
    animation-duration: 4s;
}.bubbles li:nth-child(12){
    width: 25px;
    height: 25px;
    left: 75%;
    animation-delay: 1s;
    animation-duration: 15s;
}
@keyframes bubble{
    0%{
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100%{
        -webkit-transform: translateY(-2000px) rotate(630deg);
        transform: translateY(-2000px) rotate(630deg);
    }
}