
#login-content {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width: 35em;
}

#logo {
    text-align:center;
    padding: 35px;
}

#login-btn {
    background-color: #daf7b9;
    color: white;
    text-align:center;
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2);
    margin-bottom: 7px;
}

#fblogin-btn{
    background: #4661d9;
    font-size: 2em;
    color: white;
    text-align:center;
    vertical-align: middle;
    width: 100%;
    height: 2.5em;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    margin-bottom: 7px;
}

#imglogo {
    width: 25em;
    padding-bottom: 5em;
}