#header-content-big-logo{
    width: 100%;
    text-align: center;
    position: relative;
    border-bottom:3px solid rgba(115, 143, 82, 0.6);
}

.small-text-fields{

}

#page-desc{
    font-family: sans-serif;
    color: black;
    font-size: 1em;

}

#datepicker{
    width: 6em;
}