#header-content-big-logo{
    width: 100%;
    text-align: center;
    position: relative;
    border-bottom:3px solid rgba(131, 159, 98, 0.6);
}

.titel-cpd{
    position: relative;
    font-family: Avenir;
    font-size: 0.7em;
    color: #1a6207;
}
#filter-for-listview{
    font-family: Avenir;
    font-size: 1.4em;
    color: #1a6207;
}
.small-text-fields{
    font-family: sans-serif;
    color: white;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

#page-desc{
    font-family: Avenir;
    color: #1a6207;
    font-size: 1em;

}
.container-playdate{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#datepicker{
    width: 6em;
}