.loginFields {
    display: block;
    width: 220px;
    height: 30px;
    padding: 10px;
    font-size: 14px;
    font-family: sans-serif;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    box-shadow: inset 0px -5px 45px rgba(100, 100, 100, 0.2),
    0px 1px 1px rgba(255, 255, 255, 0.2);
    margin-bottom: 7px;
}