body{
    background: #daf7a6;
}
#login{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
#login #logo {
    text-align:center;
    color: white;
    font-family: sans-serif;
    font-size: 35px;
    padding: 35px;
}
#login input{
    display: block;
    width: 220px;
    height: 40px;
    padding: 10px;
    font-size:14px;
    font-family: sans-serif;
    color: white;
    background: rgba(0,0,0,0.3);
    outline: none;
    border: 1px solid rgba(0, 0,0,0.3);
    border-radius: 6px;
    box-shadow: inset 0px -5px 45px rgba(100,100,100,0.2),
    0px 1px 1px  rgba(255, 255, 255, 0.2);
    margin-bottom:7px;
}
#login #login-btn{
    background: #daf7b9  ;
    font-size: 18px;
    text-align:center;
    vertical-align: middle;
    line-height:20px;
}
#login #fblogin-btn{
    background: #4661d9  ;
    font-size: 18px;
    text-align:center;
    vertical-align: middle;
    line-height:20px;
}