.center {
    text-align: center !important;
}

.header-shadow {
    -webkit-box-shadow: 0px 11px 22px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 11px 22px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 11px 22px -15px rgba(0, 0, 0, 0.75);
}

#footer div div a {
    margin-top: 0.2em;
    margin-bottom: 0.1em;
}

.close-btn-pos h2 {
    display: inline;
    padding: 0.5em 0.8em;
}

.close-btn-pos {
    display: block;
    background: #2c3e50;
    color: white;
    height: 2.7em;
}

.close-btn-pos a {
    display: inline;
    float: right;
    padding: 0;
    margin: 0;
}

.panel-buttons {
    margin-top: 2em;
}

.panel-buttons a:first-child {
    margin-top: 6em;
}

.panel-buttons a:last-child {
    margin-top: 4em;
}

#side-panel .ui-panel-inner {
    padding: 0;
}

#inner-panel {
    padding: 1em;
}

.small-profile {
    margin-top: 1em;
    min-height: 6em;
    max-height: 6em;
    overflow: hidden;
}

.small-profile div {
    display: block;
    width: 15em;
}

.composite-row {}

.big-profile div input {
    height: 2em;
}

.small-profile div span {
    vertical-align: top;
    font-size: 0.8em;
}

.small-profile img {
    width: 5em;
    max-height: 5em;
    margin-right: 0.4em;
    display: inline;
    float: left;
}

.big-profile img {
    width: 7em;
    max-height: 8em;
    margin-right: 0.8em;
    display: inline;
    float: left;
}

.on-bottom-button {
    position: relative;
    margin-top: 8em;
}

#descriptiontextarea {
    height: 10em;
    max-height: 10em;
}

.profile-page label {
    font-weight: bold;
    font-size: 1.5em;
}

#composite-picture {
    position: relative;
    overflow: visible;
}

#edit-profile-picture {
    position: absolute;
    z-index: 1000;
    right: 1.0em;
    top: -1.3em;
    font-size: 1.5em;
    border: 0;
    padding: 0;
}

.profile-page {
    overflow: visible;
}

#croppie {
    width: 300px;
    height: 300px;
}

#dialog-changable-content {
    height: 400px;
    width: 100%;
}

.profile-description {
    margin-top: 1.7em;
    clear: both;
}

.profile-right-block p {
    padding-left: 0.5em;
}

.other-user-reportable {
    margin-bottom: 0.4em;
}

.other-user-reportable h2 {
    display: inline;
}

.profile-description-text {
    margin: 1em 0.4em;
}

.date-column {
    display: inline;
    width: 50%;
}

.last-button-on-page {
    margin-top: 3em;
}

.hidden {
    display: none;
}

.medium-image {
    max-width: 19.6em;
}

.place-description {
    word-break: keep-all;
}

.place-info-table {
    width: 100%;
}

.place-info-table td {
    text-align: center
}

.small-font-btn {
    font-size: 0.85em;
}

.two-btn-row {
    width: 8.6em;
}

#fb-login {

    background: #4661d9;
}

#index-logo {
    width: 79.9%;

}

#logo-container {
    text-align: center;

}

#kids {
    width: 66.4%;
    z-index: 2000000000;
    margin-top: 5.8em;
    margin-left: 17.1%;
}

.name-with-button {
    margin-right: 0.5em;
    font-weight: bold;
    font-size: 1.5em;
}
.place-info-table td,.place-info-table th{
    font-size: 0.7em;
    text-align: left;
}

.place-info-table tr > td:first-child{
    font-weight: bold;
}
.place-description{
    font-size: 0.8em;
}

