.center {
    text-align: center !important;
}

#side-panel{
    background:#eff6da;
}

.header-shadow {
    -webkit-box-shadow: 0px 11px 22px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 11px 22px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 11px 22px -15px rgba(0, 0, 0, 0.75);
}

#footer div div a {
    margin-top: 0.2em;
    margin-bottom: 0.1em;
}

.close-btn-pos h2 {
    display: inline;
    padding: 0.5em 0.8em;
}

.close-btn-pos {
    display: block;
    background: #b6d489;
    border: 1px solid;
    border-color: #8f8f8f;
    color: white;
    height: 3.04em;
}
#head-logo{
    margin-left: 36%;
}
.close-btn-pos a {
    display: inline;
    float: right;
    padding: 0;
    margin: 0;
}

.panel-buttons {
    margin-top: 2em;
}

.panel-buttons a:first-child {
    margin-top: 6em;
}

.panel-buttons a:last-child {
    margin-top: 4em;
}

#side-panel .ui-panel-inner {
    padding: 0;
}

#inner-panel {
    padding: 1em;
}

.small-profile {
    margin-top: 1em;
    min-height: 6em;
    max-height: 6em;
    overflow: hidden;
}

.small-profile div {
    display: block;
    width: 15em;
}

.composite-row {

}

.big-profile div input {
    height: 2em;
}

.small-profile div span {
    vertical-align: top;
    font-size: 1em;
}

.user-name {
    font-weight: bold;
    font-size: 1.2em;
}

.user-name-comment {
    font-size: 1.1em;
    font-weight: bold;
}

.small-profile img {
    width: 7em;
    max-height: 7em;
    margin-right: 0.4em;
    display: inline;
    float: left;
}

.img-size {
    max-width: 3em;
    max-height: 3em;
}

.big-profile img {
    width: 7em;
    max-height: 8em;
    margin-right: 0.8em;
    display: inline;
    float: left;
}

.show-place-buttons{
    width: 90%;
    margin: 0 auto;
    text-allign: center;
}
.on-bottom-button {
    position: relative;
}

#descriptiontextarea {
    height: 10em;
    max-height: 10em;
}

.profile-page label {
    font-weight: bold;
    font-size: 1.5em;
}

#composite-picture {
    position: relative;
    overflow: visible;
}

#edit-profile-picture {
    position: absolute;
    right: 5.8em;
    top: 5.7em;
    font-size: 1.5em;
    border: 0;
    padding: 0;
}

#change-profilepic-text{
    margin-left: 2.5em;
}
.profile-page {
    overflow: visible;
}

#croppie {
    width: 300px;
    height: 300px;
}

#dialog-changable-content {
    height: 400px;
    width: 100%;
}

.profile-description {
    margin-top: 1.7em;
    clear: both;
}

.profile-right-block p {
    padding-left: 0.5em;
}

.other-user-reportable {
    margin-bottom: 0.4em;
}

.other-user-reportable h2 {
    display: inline;
}

.profile-description-text {
    margin: 1em 0.4em;
}

.date-column {
    display: inline;
    width: 50%;
}

.last-button-on-page {
    margin-top: 3em;
}

.hidden {
    display: none;
}

.medium-image {
    max-width: 19.1em;
}

.place-description {
    word-break: keep-all;
}

.place-info-table {
    width: 100%;
}

.place-info-table td {
    text-align: center
}

.small-font-btn {
    font-size: 0.85em;
}

.two-btn-row {
    width: 8.6em;
}


#logo-container{
    text-align: center;
    margin-left: auto;
}

#index-logo {
    width: 55%;
    margin-bottom: 2em;
}


#kids-index{
    width: 75%;
}


#kid-container {
    text-align: center;
    margin-left: auto;
}

#fb-login-btn{
    background: #3B5998 !important;
    color: white !important;
    margin-top: 1em;
    font-size: 15px;
    width: 15em;
    text-align: center;
    margin: auto;
    font-family:tahoma;
}

#privacy-policy{
    font-size: small;
}



.name-with-button {
    margin-right: 0.5em;
    font-weight: bold;
    font-size: 1.5em;
}
.place-info-table td,.place-info-table th{
    font-size: 0.7em;
    text-align: left;
}

.place-info-table tr > td:first-child{
    font-weight: bold;
}
.place-description{
    font-size: 0.8em;
}
#btns-list{
    list-style: none;
}


.listview-borders li{
    border:1px solid white

}
#text-popup{
    font-size: 100%;
}


#info-btn{
    height: 1em;
    width: 1em;
}

#popupInfo{
    background: beige;
    margin-top: 0.5em;
}

#index-popup-btn {
    color: white !important;
    width: 30%;
    margin-right: 30%;
    font-size: 75%;
}

.descriptionfield-showplaydate{
    margin-top: -1.3em;
    font-size: 0.8em;
}

.important-msg {
    font-weight: bold;
    font-size: 1.4em;
}

.bottom-line{
    border-bottom: 1px solid #e1e1e1;
}


.feed-content:first-child {
    margin-top: 1.6em;
}

.feed-content {
    border: 1px solid black;
    background: white;
    margin-bottom: 1em;
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
    overflow: hidden;
}

.feed-content p {
    margin: 0 auto;
    padding: 1em 0.4em 1em;
}

.feed-object-type {
    position: absolute;
    z-index: 200;
    width: 100%;
    text-align: right;
}

.feed-object-type span {
    color: white;
    position: relative;
    right: 8px;
    font-size: 1.3em;
    opacity: 100;
}

.object-type-0 {
    background: rgba(20, 20, 20, 0.6);
}


.object-type-1 {
    background: rgba(119, 152, 200, 0.6);
}
.object-type-4 {
    background: rgba(128, 200, 125, 0.6);
}

.feed-image-composite {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
}

.feed-object-description {
    color: black;
    font-size: 1em;
    font-family: sans-serif;

    display: block;
}

.feed-object-description a {
    display: block;
}

.feed-image-composite h1 {
    position: absolute;
    text-align: center;
    top: 1em;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    font-size: 2.5em;
    -webkit-text-stroke: 2px black;
    font-family: sans-serif;
}

.feed-image-composite img {
    width: 100%;
    height: 200px;
    filter: saturate(280%);
}
#rapportera-användare{
    font-size: 10px;
    float: right;
    right: 15px;
    margin-top:20%;
    color:red;
}
a{
    text-decoration: none;
    font-size: 12px;
}


.composite-friend-item {
    height: 60px;
    background: #b6d489;
}

.composite-friend-item a:first-of-type {
    vertical-align: top;
    line-height: 20px;
    margin-left: 0.5em;
    display: inline;
}

.composite-friend-item a:last-of-type {
    height: 100%;
    float: right;
    margin: 0;
}
.composite-friend-item img {
    height: 50px;
    width: 50px;
}
.popup-message{
    padding: 0.3em 0.5em;
}
#no-invites-header{
    font-size: 16px;
}

#header-id a {
    font-size: 1.3em;
}

#logout-btn {
    background: red !important;
    border: 1px solid red !important;
    color: white !important;
}

#visa-fb-profil {
    width:10.8em;
    height:1em;
    font-size: 0.7em;
    color:#f7f7f7 !important;
    margin-left: 0em;
    background-color:#3b5998 !important;
}

#remove-friend {
    background: red !important;
    color: white !important;
}

#popupAdd-popup {
    width: 100%;
    position: fixed !important;
    top: 4em !important;
}

#popupAdd-popup ul {
    height: 400px !important;
    overflow-y: scroll;
}
#popupParticipant-popup {
    width: 100%;
    position: fixed !important;
    top: 4em !important;
}

#popupParticipant-popup ul {
    height: 400px !important;
    overflow-y: scroll;
}

.has-overlay {
    position: relative;
}

.has-overlay a {
    position: relative;
}

.has-overlay span {
    border-radius: 100%;
    color: white;
    background: red;
    display: block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    padding: 2px 4px 5px 4px;
    font-size: 14px;
    text-align: center;
    position: absolute;
    top: 2px;
    left: 61px;
    z-index: 100;
}