.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

#longLogo {
    text-align:center;
    padding: 5px;

}

.image{
    width: 25%;
    height: 25%;
}


#platsBild{
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 250px;
    text-align:center;
    padding-left: 2em;
}

#textbox{
    width: 93%;
    border: 3px solid rgba(131, 159, 98, 0.6);
    padding: 5px;
    margin: 2px;
    display: block;
    margin-top: 5em;
    padding-bottom: 0em;
}

h4 {
    margin-top: 0;
}

#komment{
    width: 93%;
    border: 3px solid rgba(131, 159, 98, 0.6);
    padding: 5px;
    margin: 2px;
    display: block;
    margin-top: 1em;
    padding-bottom: 0em;
}

textarea {
    width: 100%;
    background-color: #daf7a6;
}


#tillbaka-btn{
    text-align:center;
    background-color: #fbff4c;
    font-size: 18px;
    color: white;
    vertical-align: middle;
    height: 26px;
    display : block;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    box-shadow: inset 0px -5px 45px rgba(100, 100, 100, 0.5),
    0px 1px 1px rgba(255, 255, 255, 0.5);
    position:relative;
    margin:0 auto;
}


a{
    text-decoration:none;
    color:#65c34a;
    font-family: sans-serif;

}

a:hover{
    color: #1a6207;
    font-family: sans-serif;
    margin-bottom: 50%;
}

body{
    margin-left: auto;
    margin-right: auto;
    background: #daf7a6;
    background: -moz-linear-gradient(top, #daf7a6 0%, #daf7a6 43%, #daf7a6 100%);
    background: -webkit-linear-gradient(top, #daf7a6 0%, #daf7a6 43%,#daf7a6 100%);
    background: linear-gradient(to bottom, #daf7a6 0%, #daf7a6 43%,#daf7a6 100%);
    z-index: 1;
}


#imglogo {
    width: 8em;
    padding: 3em 0 3em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: 1001;
    position: relative;
    height: 25%;
}


.centered-text {
    text-align: center;
    vertical-align: middle;
}



@media screen and(max-width:500px){
    #textbox{
        width: 50%;
        margin-right: 0;
    }
}





