<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Change profile</title>

    <script src="../js/jquery-3.2.1.js"></script>

    <link rel=stylesheet href="/css/changeProfileStyle.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet href="css/normalize.css" type="text/css">
    <link rel=stylesheet href="css/jquery.mobile-1.4.5.css" type="text/css">

    <link rel=stylesheet href="css/fields.css" type="text/css">
    <link rel=stylesheet href="css/background.css" type="text/css">
    <link rel=stylesheet href="/css/platsButton.css" type="text/css">
    <link rel=stylesheet href="css/main.css" type="text/css">
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/jquery.mobile-1.4.5.js"></script>
    <script src="js/onInit.js"></script>
    <script src="js/onLogin.js"></script>
    <link rel=stylesheet href="css/createplaydate-dsn.css" type="text/css">

</head>

<body>

<div class="header" id="header-content-big-logo">
    <img src="/images/pdbiglogo.png" id="biglogo">
    <br>
</div>
<br>
<br>
<div id="register-panel">
    <form>
        <div id="text-form-input-fields">
            <br>
            <br>

            <input type="text" id="username" class="text-input-field centered-text" placeholder="New username">
            <input type="text" id="age" class="text-input-field centered-text" placeholder="Your age">
            <input type="text" id="gender" class="text-input-field centered-text" placeholder="Gender">
            <input type="text" id="numberOfChildren" class="text-input-field centered-text" placeholder="Number of your children">
            <input type="text" id="description" class="text-input-field centered-text" placeholder="Description of yourself">
            <input type="email" id="email" class="text-input-field centered-text" placeholder="New e-mail">
            <input type="text" id="telefonnumber" class="text-input-field centered-text" placeholder="New telefonnumber">


        </div>
        <div>
            <br>
            <br>
            <input type="button" id="greenbtn" class="large-button centered-text" value="Update">
        </div>
    </form>
</div>
</div>
</body>
</html>
