<div data-role="footer" data-position="fixed" id="div-footer">
    <div class="ui-grid-d footer-btn-div div-overflow-visible">
        <div class="ui-block-a center-text-in-div">
            <a class="footer-black-btn">
                <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
            </a>
            <p>Tillbaka</p>
        </div>
        <div class="ui-block-b center-text-in-div">
            <a class="footer-black-btn">
                <i class="fa fa-user fa-2x" aria-hidden="true"></i>
            </a>
            <p>Min profil</p>
        </div>
        <div class="ui-block-c">
            <a class="footer-image-btn">
                <div id="footer-logo">
                    <span id="playdate-overlay-plus">+</span>
                    <img src="/images/pd-logga.png" id="footer-pd-img">
                </div>
            </a>
        </div>
        <div class="ui-block-d center-text-in-div">
            <a class="footer-black-btn">
                <i class="fa fa-users fa-2x" aria-hidden="true"></i>
            </a>
            <p>Vänner</p>
        </div>
        <div class="ui-block-e center-text-in-div">
            <a class="footer-black-btn">
                <i class="fa fa-envelope-open fa-2x" aria-hidden="true"></i>
            </a>
            <p>Inbjudningar</p>
        </div>
    </div>

</div>