<div data-role="header" data-position="fixed">
    <a href="#side-panel" class="ui-btn ui-icon-bars ui-btn-icon-notext ui-corner-all">Öppna panelen</a>
    <a href="#home-page" class="ui-btn ui-icon-home ui-btn-icon-notext ui-corner-all ">Hemknapp</a>
    <div id="head-logo"><img src="/images/playdate_logga_1.png"></div>
</div>