<div data-role="panel" id="side-panel" data-display="overlay" data-position-fixed="true">
    <h2>Meny</h2>

    <div class="close-btn-pos">
        <a href="#" class="ui-btn ui-icon-delete ui-btn-icon-notext
			ui-corner-all" data-rel="close"></a>
    </div>

    <a href="/protected/showprofile" class="ui-btn ui-corner-all" >Min Profil</a>
    <a href="#show-playdates" class="ui-btn ui-corner-all" >Mina Playdates</a>
    <a href="#" class="ui-btn ui-corner-all" >Inställningar</a>
    <div class="logout-btn">
        <a href="#NamnpåpageID" class="ui-btn ui-corner-all ui-icon-logout" >Logga Ut</a>
    </div>

</div>