#* @vtlvariable name="place" type="model.Place" *#
#* @vtlvariable name="comment" type="model.Comment" *#
#* @vtlvariable name="commentDate" type="java.util.Date" *#

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="../js/jquery-3.2.1.js"></script>
</head>
<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>
<script>

</script>
<body>

<h1>Showing place</h1>
<h3>$!{place.getName()}</h3>
<img src="/protected/apiimage/${place.getImageId()}" alt="bild på lekplats">
<h4>Beskrivning:</h4>
<p>$!{place.getShortDescription()}</p>
<h4>Plats</h4>
<p>Parken finns på $!{place.getGeoLonLatStr()}</p>
<div id="map"></div>
<script>
    function initMap() {
        var lng = $!{place.getGeoLonLat()[1]};
        var lat = $!{place.getGeoLonLat()[0]};

        var uluru = {lat: lat, lng: lng};
        console.log(uluru)
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 17,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });

    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=$!{maps_key}&callback=initMap">
</script>
<h4>Kommentarer</h4>
#foreach($com in $place.getComments())
    <div style="margin-bottom: 1em">
        <span>Av: $com.commenter.getName() den $com.getCommentDate()</span>
        <div>$com.comment</div>
    </div>
#end



<div id="commentform">
    <form method="POST" id="postcomment" action="/protected/postcomment">
        <input type="hidden" value="$place.getId()" name="placeId">
        <textarea name="comment" id="commenttext" rows="5" cols="20"></textarea><br>
        <input type="submit" value="Lägg till kommentar">
    </form>
</div>
</body>
</html>